<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>

                    <div class="header header-primary text-center">
                        <h4 class="card-title">Log in</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-just-icon btn-simple">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-simple">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-just-icon btn-simple">
                                <i class="fa fa-google-plus"></i>
                            </a>  <!-- <i class="fa fa-shopping-cart" style="font-size:15px"></i>-->
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form #form='ngForm' class="form" autocomplete="off" (submit)="onSubmit(form)">
                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-content">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                </span>
                                <input #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required type="text" class="form-control" placeholder="First Name...">
                            </div>

                           <!-- <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email...">
                            </div> -->

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </span>
                                <input #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required type="password" placeholder="Password..." class="form-control" />
                            </div>

                            <!-- If you want to add a checkbox to this form, uncomment this code

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" checked>
                                    Subscribe to newsletter
                                </label>
                            </div> -->

                            <div class="form-row">
                                    <div class="form-group col-md-8 offset-md-2">
                                      <button type="submit" class="btn btn-primary btn-round" [disabled]="form.invalid">Login</button>
                                    </div>
                                  </div>



                                  
                        </div>
                    </form>
                </div>
              <!--  <div class="modal-footer text-center">
                    <a href="#pablo" class="btn btn-primary btn-simple btn-wd btn-lg">Get Started</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->