<app-header-visitor *ngIf="headerVisitor"></app-header-visitor>
<app-header *ngIf="headerLoggedIn"></app-header>


<br><br><br><br><br><br><br>


<div class="main main-raised">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Shopping Cart Table</h4>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th>Product</th>
                                    <th class="th-description">Color</th>
                                    <th class="th-description">Size</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Qty</th>
                                    <th class="text-right">Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders;let i = index" [@fadeInOut]>
                                    <td>
                                        <div class="img-container">
                                            <img src="assets/img/product1.jpg" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name">
                                        <a href="#jacket">{{order.product.name}}</a>
                                        <br /><small>{{order.product.brand}}</small>
                                    </td>
                                    <td>
                                            {{order.product.color}}
                                    </td>
                                    <td>
                                            {{order.product.size}}
                                    </td>
                                    <td class="td-number">
                                        <small>&euro;</small>{{order.product.priceAfterDiscount}}
                                    </td>
                                    <td class="td-number">
                                            {{order.quantity}}
                                        <div class="btn-group">
                                            <button class="btn btn-round btn-info btn-xs"> <i
                                                    class="material-icons">remove</i> </button>
                                            <button class="btn btn-round btn-info btn-xs"> <i
                                                    class="material-icons">add</i> </button>
                                        </div>
                                    </td>
                                    <td class="td-number">
                                        <small>&euro;</small>{{order.quantity * order.product.priceAfterDiscount}}
                                    </td>
                                    <td class="td-actions">
                                        <button (click)="deleteFieldValue(i,order.idOrder)" type="button" rel="tooltip" data-placement="left" title="Remove item"
                                            class="btn btn-simple">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="3">
                                    </td>
                                    <td class="td-total">
                                        Total
                                    </td>
                                    <td *ngIf="totCart" class="td-price">
                                        <small>&euro;</small>{{totCart.totalPrice}}
                                    </td>
                                    <td colspan="3" class="text-right"> <button type="button"
                                            class="btn btn-info btn-round">Complete Purchase <i
                                                class="material-icons">keyboard_arrow_right</i></button></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<br><br><br><br><br><br><br>


<app-footer></app-footer>