<app-header-visitor></app-header-visitor>

<!--         carousel  -->
<div class="section" id="carousel">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
    
                    <!-- Carousel Card -->
                    <div class="card card-raised card-carousel">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel slide" data-ride="carousel">
    
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>
    
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="assets/img/bg2.jpg" alt="Awesome Image">
                                        <div class="carousel-caption">
                                            <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/bg3.jpg" alt="Awesome Image">
                                        <div class="carousel-caption">
                                            <h4><i class="material-icons">location_on</i> Somewhere Beyond, United States</h4>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/bg.jpg" alt="Awesome Image">
                                        <div class="carousel-caption">
                                            <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                        </div>
                                    </div>
                                </div>
    
                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Carousel Card -->
    
                </div>
            </div>
        </div>
    </div>
    <!--         end carousel -->

    <!--  rotating cards  -->


    


    <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                        <div class="front front-background" style="background-image: url('assets/img/examples/card-blog5.jpg');">
                            <div class="card-content">
                                <h6 class="category text-info">Full Background Card</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">This Background Card Will Rotate on Hover</h3>
                                </a>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                            </div>
                        </div>

                        <div class="back back-background" style="background-image: url('assets/img/examples/card-blog5.jpg');">
                            <div class="card-content">
                                <h5 class="card-title">
                                    Manage Post
                                </h5>
                                <p class="card-description">As an Admin, you have shortcuts to edit, view or delete the posts.</p>
                                <div class="footer text-center">
                                    <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                        <i class="material-icons">subject</i>
                                    </a>
                                    <a href="#pablo" class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <a href="#pablo" class="btn btn-danger btn-just-icon btn-fill btn-round">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-content">
                                <h5 class="category-social text-success">
                                    <i class="fa fa-newspaper-o"></i> TechCrunch
                                </h5>

                                <h4 class="card-title">
                                    <a href="#pablo">This Card is Doing a Full Rotation on Hover...</a>
                                </h4>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>

                            </div>
                        </div>

                        <div class="back">
                            <div class="card-content">
                                <h5 class="card-title">
                                    Do more...
                                </h5>
                                <p class="card-description">
                                    You can read this article or share it with your friends and family on different networks...
                                </p>
                                <div class="footer text-center">
                                    <a href="#pablo" class="btn btn-rose btn-round">
                                        <i class="material-icons">subject</i> Read
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-dribbble">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-round btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="rotating-card-container">
                    <div class="card card-rotate">
                        <div class="front">
                            <div class="card-content content-rose">
                                <h5 class="category-social">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">"Dribbble just acquired Crew, a very interesting startup..."</a>
                                </h4>
                                <p class="card-description">
                                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                                </p>
                                <div class="footer">
                                    <div class="author">
                                        <a href="#pablo">
                                           <img src="assets/img/faces/avatar.jpg" alt="..." class="avatar img-raised">
                                           <span>Tania Andrew</span>
                                        </a>
                                    </div>
                                   <div class="stats">
                                        <i class="material-icons">favorite</i> 2.4K &middot;
                                        <i class="material-icons">share</i> 45
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="back content-rose">
                            <div class="card-content">
                                <h5 class="category-social">
                                    <i class="fa fa-dribbble"></i> Dribbble
                                </h5>
                                <h4 class="card-title">
                                    <a href="#pablo">"Dribbble just acquired Crew, a very interesting startup..."</a>
                                </h4>
                                <div class="footer">
                                    <button type="button" name="button" class="btn btn-white btn-fill btn-round">
                                            <i class="material-icons">subject</i> Read
                                    </button>
                                    <button type="button" name="button" class="btn btn-white btn-simple">
                                            <i class="material-icons">bookmark</i> Bookmark
                                    </button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<app-footer></app-footer>        