<app-header></app-header>

<br><br><br><br><br>

<div class="main main-raised">

  <div class="section">
    <div class="container">
      <div class="">

        <div class="row">
          <div class="">
            <ul class="nav nav-pills nav-pills-icons" role="tablist">
              <!--
  color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
            -->
              <li class="">
                <a href="#dashboard-1" role="tab" data-toggle="tab" aria-expanded="false">
                  <i class="material-icons">dashboard</i>
                  Dashboard
                </a>
              </li>
              <li class="">
                <a href="#schedule-1" role="tab" data-toggle="tab" aria-expanded="false">
                  <i class="material-icons">schedule</i>
                  Schedule
                </a>
              </li>
              <li class="active">
                <a href="#tasks-1" role="tab" data-toggle="tab" aria-expanded="true">
                  <i class="material-icons">list</i>
                  Tasks
                </a>
              </li>
            </ul>
            <div class="tab-content tab-space">
              <div class="tab-pane" id="dashboard-1">
                <app-user-profile></app-user-profile>
              </div>
              <div class="tab-pane" id="schedule-1">
                <app-typography></app-typography>
              </div>
              <div class="tab-pane active" id="tasks-1">
                <app-auction-admin></app-auction-admin>
              </div>
            </div>

          </div>

        </div>
      </div>




    </div>

  </div>
</div>
<br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<app-footer></app-footer>

<!--


  
-->